.employ-seg,
.edu-seg {
  padding-top: 0px;
  padding-left: 5%;
  padding-bottom: 25px;
}

.employ-seg-range,
.edu-seg-range {
  padding: 0px;
  margin: 0px;
}

.employ-seg-employer,
.edu-seg-employer {
  padding: 0px;
  margin: 0px;
}

.employ-seg-title,
.edu-seg-title {
  padding: 0px;
  margin: 0px;
}
