#full-body {
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  bottom: 0;
  font-family: sans-serif;
  color: white;
}

#main-content {
  padding: 5px;
  margin: 0;
  bottom: 0;
  margin-top: 100px;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.employ-seg-range,
.edu-seg-range {
  padding: 0px;
  margin: 0px;
}

.employ-seg-employer,
.edu-seg-employer {
  padding: 0px;
  margin: 0px;
}

.employ-seg-title,
.edu-seg-title {
  padding: 0px;
  margin: 0px;
}

.seg {
  padding-top: 0px;
  padding-left: max(5%, 20px);
  padding-bottom: 25px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.edu-emp-icon {
  width: max(5%, 20px);
  height: max(5%, 20px);
  padding-top: 20px;
}

.edu-emp-wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  padding-left: 5%;
}
