#full-body {
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
}

body {
  background-color: rgba(0, 255, 255, 0.09);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  bottom: 0;
}

#main-body {
  width: 100% - 1px;
  padding: 5px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.project-tabs {
  overflow-y: visible;
}
