:root {
  --project-tab-default-width: 29%;
  --project-tab-default-height: 320px;
  --project-tab-default-pad: 3px;
  --project-tab-default-margin: 10px;
}

.project-tab {
  width: var(--project-tab-default-width);
  padding: var(--project-tab-default-pad);
  height: var(--project-tab-default-height);
  border: 1px solid black;
  border-radius: 20px;
  margin: var(--project-tab-default-margin);
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.project-tab:hover {
  width: calc(var(--project-tab-default-width) + 4px);
  height: calc(var(--project-tab-default-height) + 4px);
  padding: calc(var(--project-tab-default-pad) + 4px);
  margin-left: calc(var(--project-tab-default-margin)-2px);
  margin-top: var(--project-tab-default-margin);
  background-color: white;
  cursor: pointer;
}

.project-tab-name {
  width: 100%;

  text-align: center;
}

.project-tab-description {
  width: 100%;
}

.project-tab-update {
  width: 100%;
  text-align: right;
  color: dimgray;
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-tab-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: contain;
}
