:root {
  --project-tab-goal-width: 550px;
  --project-tab-goal-height: 309.375px;
  --project-tab-default-margin: 10px;
  --project-tab-default-bottom-pad: 0px;
  --project-tab-default-top-pad: 50px;
}

.project-tab {
  width: var(--project-tab-goal-width);
  height: calc(
    var(--project-tab-goal-height) - var(--project-tab-default-bottom-pad) -
      var(--project-tab-default-top-pad)
  );
  border: 1px solid black;
  border-radius: 20px;
  margin: var(--project-tab-default-margin);
  align-items: center;
  background-color: rgb(245, 245, 245);
  box-shadow: -3px 3px rgb(136, 136, 136, 0.5);
  background-repeat: no-repeat;
  background-size: var(--project-tab-goal-width) var(--project-tab-goal-height);
  overflow: hidden;
  padding-top: var(--project-tab-default-top-pad);
  padding-bottom: var(--project-tab-default-bottom-pad);
  transition: all 1s;
}

.project-tab * {
  color: white;
}

.project-tab:hover {
  cursor: pointer;
  padding-bottom: var(--project-tab-default-top-pad);
  padding-top: var(--project-tab-default-bottom-pad);
  transition: all 1s;
  transform: rotate(1deg);
}

.project-tab-name {
  width: 100%;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 0;
}

.project-tab-description {
  width: 100%;
  text-align: center;
  margin: 7px;
  margin-bottom: 10px;
}

.project-tab-update {
  width: 97%;
  text-align: right;
  color: lightgray;
  margin: 0;
  padding: 0;
}

.project-tab-img {
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  position: fixed;
}

.project-card-text-container {
  background-color: rgba(100, 100, 100, 0.75);
  margin-top: calc(var(--project-tab-goal-height) - 80px);
  transition: all 1s;
}

.project-card-text-container:hover {
  background-color: rgba(100, 100, 100, 0.9);
}
